.board button {
  margin: 2px;
  width: 70px;
  height: 70px;
}

.board button.toggle {
  margin: 2px;
  width: 181px;
  height: 70px;
}

.player-score {
  margin: 10px;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 10px;
}

.player-score.active {
  background-color: lightgreen;
}

.player-score.active div.active {
  background-color: green;
  color: white;
}

.player-score input {
  max-width: 150px;
}

.player-score-round-cell {
  margin: 5px;
  padding: 0 5px;
  border: 1px solid white;
}

.player-score-round-result {
  
  margin: 5px;
  padding: 0 5px;
  border: 1px solid red;
}