body {
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
  background-color: #292929;
  color: #fff;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.board button {
  font-size: 26px;
  margin: 2px;
  width: 70px;
  height: 70px;
  background-color: #3a3a3a;
  border: 0 none;
  color: #fff;
}

.board button:focus, .board button:hover, .board button:active {
  background-color: #ce6000!important;
  border: 0 none;
}

.board button.toggle {
  margin: 2px;
  width: 181px;
  height: 70px;
}

.player-score {
  margin: 30px 5px;
  padding: 5px 0px;
  border: 2px solid #3a3a3a;
  background-color: #3a3a3a;
  border-radius: .25rem;
}

.player-score.active {
  border: 2px solid #a84f00;
  background-color: #3a3a3a;
}

.player-score.disabled{
  opacity: 0.2;
} 

.player-score-round {
  padding: 5px 10px;
}

.player-score.active .player-score-round.active {
  background-color: #a84f00;
}

.player-score.active div.active .player-score-round-cell {
  background-color: #a84f00;
}

.player-score.active div.active .player-score-round-result {
  background-color: #a84f00;
}

.player-score input {
  max-width: 150px;
}

.player-score-round-number {
  width: 10%;
}

.player-score-round-cell {
  font-size: 22px;
  background-color: #3a3a3a;
  width: 23%;
  text-align: center;
}

.player-score-round-cell.active {
  background-color: #632e00!important;
  border-radius: .25rem;
}

.player-score-round-result {
  font-size: 22px;
  font-weight: 700;
  background-color: #3a3a3a;
  width: 20%;
  text-align: right;
}

.player-score-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.player-score-overall {
  font-size: 1.75rem;
  font-weight: 600;
  color: #eb6d00;
}

hr {
  margin: 5px !important;
}

.finish {
  background: white;
}